<!-- <aside id="queue-bar-container">
  <div id="queue-bar">
    <header id="queue-header">Play queue</header>
    <section id="queue"></section>
    <section id="queue-buttons">
      <button id="play-queue" class="queue-button">Play</button>
      <button id="next-in-queue" class="queue-button">Next</button>
      <button id="clear-queue" class="queue-button">Clear</button>
    </section>
  </div>
</aside> -->