<article class="pink-ribbon">
<h1 class="playlists-header">About Us</h1>
</article>

<main id='about-main'>
  <section id='about-elements-container'>

    <article id='playlist-top-left' class='about-us-container'>
      <div class='bio-container'>
        <p>Denise came up with the idea for PandaPop one night when she was at Makers Academy, feeling extremely frustrated about the horrible user experience of trying to do karaoke with YouTube videos. She was at first concerned about being a complete Asian stereotype and pitching an idea about karaoke, but eventually she embraced her true identity and accepted her fate as a panda.</p>
        <article class='icons-box'>
          <a href='http://github.com/deniseyu'><img src='/images/about/github-icon.png' class='social-icon'></a>
          <a href='http://twitter.com/deniseyu21'><img src='/images/about/twitter-icon.png' class='social-icon'></a>
          <a href='http://uk.linkedin.com/in/deniseyu'><img src='/images/about/linkedin-icon.png' class='social-icon'></a>
          <a href='http://instagram.com/deniseyu21'><img src='/images/about/instagram-icon.png' class='social-icon'></a>
        </article>
      </div>
      <img src='/images/about/denise.jpg' class='about-us-image'>
      <h1 class='about-us-header'>Denise</h1>
    </article>

    <article id='playlist-top-right' class='about-us-container'>
      <div class='bio-container'>
        <p>Nicole knew she had to work on Team Pandapop as the sole Asian person in the September cohort. Although she is originally from South Africa and her last name is Pellicena, she knows deep down that she brings the true minority representation to an otherwise not-diverse group. Also, she loves pandas and mostly came to Makers so she could dress up in a panda suit and be socially accepted.</p>
        <article class='icons-box'>
          <a href='http://github.com/NicolePell'><img src='/images/about/github-icon.png' class='social-icon'></a>
          <a href='http://twitter.com/niccipell'><img src='/images/about/twitter-icon.png' class='social-icon'></a>
          <a href='http://uk.linkedin.com/in/nicolepellicena'><img src='/images/about/linkedin-icon.png' class='social-icon'></a>
          <a href='http://instagram.com/niccipell'><img src='/images/about/instagram-icon.png' class='social-icon'></a>
        </article>
      </div>
      <img src='/images/about/nicole.jpg' class='about-us-image'>
      <h1 class='about-us-header'>Nicole</h1>
    </article>

    <br><article id='playlist-bottom-left' class='about-us-container'>
      <div class='bio-container'><p>Before she was a panda, Sandrine was the queen of the Asian mafia. She still might be, we are not really sure, we just don't ask questions anymore. When she's not working on PandaPop, she likes to micromanage people who are making dumplings and take naps on the stairs. She is extremely French, hon hon hon, croissant, baguette, je ne sais rien. She has a cat named Misifu, who used to be a human until she cast a spell on him and turned him into her cat forever.</p>
        <article class='icons-box'>
          <a href='http://github.com/MadameSardine'><img src='/images/about/github-icon.png' class='social-icon'></a>
          <a href='http://twitter.com/MadameSardine'><img src='/images/about/twitter-icon.png' class='social-icon'></a>
          <a href='http://uk.linkedin.com/in/sandrinezhang'><img src='/images/about/linkedin-icon.png' class='social-icon'></a>
          <a href='http://instagram.com/madamesardine'><img src='/images/about/instagram-icon.png' class='social-icon'></a>
        </article>
      </div>
      <img src='/images/about/sandrine.jpg' class='about-us-image'>
      <h1 class='about-us-header'>Sandrine</h1>
    </article>

    <article id='playlist-bottom-right' class='about-us-container'>
      <div class='bio-container'><p>Did you know that Sean went to Oxford? And that he's an entrepreneur? Sean is extremely protective of his panda suit. He has a history of threatening people who put on his panda suit without permission with physical harm. You have been warned. </p>
        <article class='icons-box'>
          <a href='http://github.com/slstevens'><img src='/images/about/github-icon.png' class='social-icon'></a>
          <a href='http://uk.linkedin.com/in/seanstevens123'><img src='/images/about/linkedin-icon.png' class='social-icon'></a>
          <a href='http://instagram.com/slstevens'><img src='/images/about/instagram-icon.png' class='social-icon'></a>
        </article>
      </div>
      <img src='/images/about/sean.jpg' class='about-us-image'>
      <h1 class='about-us-header'>Sean</h1>
    </article>
  </section>

  <section id='about-us-story'>
    <h1>The story of PandaPop</h1>
    <p>
      PandaPop is a social karaoke platform for people (and pandas) who love to sing karaoke. Using the YouTube API, a Ruby on Rails backend, and a few sprinkles of jQuery, Angular, and HTML5/CSS3 responsive design, we built PandaPop in two weeks as our final project at <a href='http://makersacademy.com'>Makers Academy</a>.
    </p>
    <p>Special thanks to all of the wonderful coaches at Makers Academy (except Leo, Sean still wants to kill you - jk we love you Leo), our cohort, and especially Dana. This has been a great journey -- let's go sing some karaoke!
    </p>
  </section>
    <div id='salt-and-github'>
      <a href='http://github.com/MadameSardine/pandapop'><img src='/images/about/github-icon.png' id='github-icon'></a>
      <img src='/images/about/salt-shaker.jpg' id='salt-shaker'>
    </div>

</main>


