<!-- <h1 id='welcome-message'>Find the best YouTube karaoke songs with PandaPop</h1> -->
<article id="player-title" class="pink-ribbon">
<h1>Now playing: <span id="current-player-title"><%= @current_track_title %></span></h1>
</article>

<aside id="queue-bar-container">
  <div id="queue-bar">
    <% if user_signed_in? %>

      <% end %>
    <header id="queue-header">
      <h1>Play queue</h1>
      <nav id="queue-nav">
        <section id="queue-buttons">
          <button id="play-queue" class="queue-button"><img src="/images/arrow.png" class="queue-button-icon"><h3>PLAY</h3></button>
          <button id="next-in-queue" class="queue-button"><img src="/images/next.png" class="queue-button-icon"><h3>NEXT</h3></button>
          <button id="clear-queue" class="queue-button"><h3>CLEAR</h3></button>
        </section>
      </nav>
    </header>
    <section id="queue"></section>
  </div>
</aside>

<article id="iframe-container">
  <iframe width="1280" height="720" id="player-iframe" src='<%= @url %>' frameborder="0" allowfullscreen/>
</article>
