<main ng-app='Pandapop' ng-controller="SearchController as searchCtrl">
<h1 id='welcome-message'>Find the best YouTube karaoke songs with PandaPop</h1>
<p> test </p>
<section id='search-box'>
Build the angular search thingy here!!
<br>
<div id='search'>
  <input ng-model='query' placeholder='search' ng-keyup="$event.keyCode == 13 && executeSearch()">
</div>
check if angular is working: {{ query }}
</section>

<article class='search-result-container' ng-repeat='result in results'>
  <p class='duration'>{{ result.items[0].contentDetails.duration }}</p>

  <article class='title-and-thumbnail' data-video_id='{{ result.items[0].id }}'>
    <p class='title'>{{ result.items[0].snippet.title }}</p>
    <img src='{{ result.items[0].snippet.thumbnails.medium.url }}' class='thumbnail' />
  </article>

  <article class='result-icons'>
    <a href='#' class='add-to-playlist' data-id='{{ result.items[0].id }}' data-title='{{ result.items[0].snippet.title }}'>
      <img src='/images/plus.png' />
    </a>
    <a href='#' class='add-to-queue' data-id='{{ result.items[0].id }}' data-title='{{ result.items[0].snippet.title }}'>
      <img src='/images/play.png' />
    </a>
  </article>

  <article class='playlist-drop-down'>

  </article>
</article>

</main>