<!-- <h1 id='welcome-message'>Find the best YouTube karaoke songs with PandaPop</h1> -->
<article id="player-title">
<h1>Now playing: <span id="current-player-title"><%= @current_track_title %></span></h1>
</article>

<article id="iframe-container">
  <iframe id="player-iframe" src='<%= @url %>' frameborder="0" allowfullscreen/>
</article>

<%= render "static_pages/queue"%>
