<h1>Top tracks</h1>

 <div id="buttons">
      <label> <input id="query" value='cats' type="text"/><button id="search-button" onclick="search()">Search</button></label>
    </div>
    <div id="search-container"></div>

   <div id="login-container" class="pre-auth">
      This application requires access to your YouTube account.
      Please <a href="#" id="login-link">authorize</a> to continue.
    </div>