<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <%= render 'follow_form' if signed_in? %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>
