<% @user ||= current_user %>



        <a href="<%= following_user_path(@user) %>">
          <p id="following" class="stat">

          </p>
        </a>
        <a href="<%= followers_user_path(@user) %>">
          <p id="followers" class="stat">
          </p>
        </a>
