

/*
 *= require jquery-ui
 *= require gritter
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

/*test*/

/*test area */
.draggable-title {
  font-family: arial;
  width: 150px;
  border: 2px solid;
  border-radius: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

.sb-slidebar {
  background-color: #1d1d1d;
  background-image:
    linear-gradient(
      to left,
      #1d1d1d,
      #353535 10%
    );
}
/*test*/

body {
  background-color: rgb(53, 53, 53);
}



/*===============TOP NAV=======================*/


#top-nav {
  background-color: rgb(53, 53, 53);
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 5000;
  width: 100%;
  display: block;
  color: #fff;
}


#top-nav-inner {
  position: absolute;
  display: inline;
  margin-top: 5px;
  margin-bottom: 10px;
  height: auto;
  width: 100%;
  z-index: 100000;
  overflow: hidden;
}

#top-nav-inner ul {
  display: inline;
}

#top-nav-inner li {
  list-style-type: none;
  float: left;
}

.sb-toggle-left {
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
  margin-top: 15px;
  margin-left: 20px;
  border: 4px solid white;
  border-radius: 100%;
}

#navicon-line-container {
  position: relative;
  display: block;
  margin-top: 12px;
  margin-left: 10px;
  padding: 0;
}

.navicon-line {
  position: relative;
  display: block;
  padding: 0;
  width: 22px;
  height: 3px;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: #fff;
}

#pandapop-title {
  font-family: 'Exo 2', sans-serif;   
  display: block;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  z-index: 10000;
}

#home-icon {
  display: block;
  position: absolute;
  height: 50px;
  width: auto;
  top: 10px;
  right: 50%;
}


#search-container{
  display: block;
  position: absolute;
  top: 0px;
  right: 10px;
  width: 500px;
  height: 60px;
  z-index: 20000;
}

#search-content{
  display: block;
  width: 400px;
  margin-top: 15px;
  height: 44px;
  border-radius: 30px;
  float: left;
  margin-left: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  padding-left: 10px;
}

#search-button {
  position: relative;
  float: left;
  margin-left: 10px;
  display: inline-block;
  border: 4px solid white;
  height: 28px;
  width: auto;
  border-radius: 100%;
  margin-top: 16px;
  padding: 6px;
  padding-left: 8px;
}


/*=================GRID MAIN================================*/

#grid-main {
  display: block;
  background-color: rgb(53, 53, 53);
  position: relative;
  margin-top: 0px;
  text-align: center;
  z-index: 100000;
  height: 770px;
}

.pink-ribbon {
  height: 50px;
  text-align: left;
  background-color: rgb(255, 52, 139);
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  display: block;
  overflow: hidden;
}

#flash-messages {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

/*===================PLAYER===================================*/


#player-title h1 {
  margin-left: 20px;
  padding-top: 10px;
  white-space: nowrap;
}

#iframe-container {
  display: block;
  background-color: rgb(53, 53, 53);
  width: -moz-calc(100% - 500px);
  width: -webkit-calc(100% - 500px);
  width: calc(100% - 500px);
  text-align: center;
  height: 720px;
 /* height: -moz-calc(100% - 200px);
  height: -webkit-calc(100% - 200px);
  height: calc(100% - 200px);*/
}

#iframe-container iframe{
  margin-top: 0.5%;
  margin-left: 0.5%;
  width: 98%;
  height: 98%;
}


/*===============SEARCH RESULTS============================*/

#results {
  display: block;
  background-color: rgb(53, 53, 53);
  width: 2000px;
  height: 260px;
  padding: 0px;
  color: #fff;
  position: absolute;
  margin-top: 765px;
}

#scroll-left-button, #scroll-right-button {
  text-decoration: none;
  color: white;
}

#search-results-header {
  display: block;
  width: 100%;
  height: 50px;
  padding-bottom: 4px;
  border-bottom: 4px solid rgb(255, 52, 139);
  position: absolute;
}

#search-results-header h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  margin-left: 20px;
  padding-top: 16px;
  padding-bottom: 8px;
  position: absolute;
  float: left;
  display: inline-block;
}

#all-search-results {
  position: absolute;
  width: 4400px;
  margin-top: 54px;
  height: 220px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.search-result-container {
  position: relative;
  width: 320px;
  height: 220px;
  display: inline;
  float: left;
  margin-left: 20px;
  margin-top: 8px;
}

.title-and-thumbnail {
  cursor: pointer;
}

.title {
  font-family: 'PT Sans', sans-serif;
  display: block;
  width: 90%;
  text-align: left;
  z-index:100;
  position: absolute;
  left: 0px;
  top: 16px;
  padding: 6px;
  margin-left: 5%;
  font-size: 20px;
  white-space: normal;
}

.viewCount .likeCount{
  display: block;
  float: left;
}

.thumbnail {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  opacity: 0.4;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px); 
  -o-filter: blur(2px); 
  -ms-filter: blur(2px); 
  filter: blur(2px);
}

.thumbnail:hover {
  opacity: 0.8;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px); 
  -o-filter: blur(1px); 
  -ms-filter: blur(1px); 
  filter: blur(1px);
}

.result-icons, .thumbnail-play-icon {
  position: absolute;
  right: 10px;
  bottom: 40px;
  z-index:100;
  display: block;
  padding-right: 8px;
  padding-bottom: 8px;
}

.play-icon, .plus-icon{
  width: 40px;
  margin-left: 8px;
  padding-top: 6px;
}

.thumbnail-play-icon {
  background-color: transparent;
  right: 80px;
  bottom: 40px;
  opacity: 0.9;
}

.playlists-popup-menu {
  position: absolute;
  bottom: 60px;
  left: -10px;
  height: auto;
  width: auto;
  background-color: blue;
}

.playlist-menu-item {
  padding: 4px;
}

#left-arrow-icon, #right-arrow-icon {
  height: 23px;
  width: 23px;
  margin: 1px;
}

.nav-arrow {
  display: inline-block;
  height: 23px;
  width: 23px;
  border: 2px solid #FF348B;
  border-radius: 50%;
  background-color: #FF348B;
  padding: 3px;
  cursor: pointer;
  z-index: 2000;
}

.nav-arrow:hover {
  border: 2px white solid;
}

#scroll-left-button {
}

#scroll-right-button {
}

/*=======================SLIDEBAR======================*/

.panda-logo {
  width: 80px;
  height: auto;
}

#pandapop-playlists {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  white-space: nowrap;
  overflow-x: scroll;
}

#playlists-welcome {
  font-size: 2em;
}

article.pandapop-playlist-item {
  width: 150px;
  display: inline-block;
  border: 1px black solid;
  padding: 5px;
  margin: 15px;
  font-size: 1em;
  text-align: center;
}

article.pandapop-playlist-item a {
  text-decoration: none;
}

#user-avatar {
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border:5px solid gray;
}

.sidebar-button {
  width: 100%;
  text-align: center;
  border-bottom: 2px gray solid;
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 1.3em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

#top-button {
  border-top: 2px gray solid;
}

#slidebar-edit-icon {
  height: 15px;
  width: 15px;
  padding-left: 4px;
}

.sidebar-button:hover {
  background-color: #545454;
  border-left: 7px #ff358b solid;
}

#sidebar-button-area {
  margin-top: 30px;
}

h1 {
  font-family: 'PT Sans', sans-serif;
}

h1#username {
  font-size: 1.6em;
  color: #ff358b;
  text-align: center;
  margin-top: 0.5em;
}

#slidebar-edit-icon {
  height: 15px;
  width: 15px;
  display: inline;
}

h2 {
  font-family: 'PT Sans', sans-serif;
}

#panda-mascot {
  width: 60px;
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.about-link {
  width: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  color: white;
}

/*=======================LANDING PAGE=========================*/

#readymade-playlists-container {
  position: relative;
  margin-top: 0.5%;
  margin-left: 0.5%;
  padding: 0.5%;
  width: 98%;
  height: 695px;
  background-color: #474747;
}

.readymade-item-container {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 49.25%;
  height: 49.25%;
  background-color: #70503D;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
}

.readymade-image {
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;

}

.readymade-image:hover {
  opacity: 1.0;
}

.readymade-header {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: 'PT Sans', sans-serif;
  padding: 15px;
  width: auto;
  background-color: rgba(0,0,0,0.7);
  height: auto;
  z-index: 1000;
  top: 70%;
}

/*=======================ADD TO PLAYLIST POPUP=========================*/


.playlists-popup {
  display:none;
/*  height:200px;
  width:200px;*/
  padding-top: 0px;
  max-height: 179px;
  overflow: scroll;
  /*background-color: #353535;*/
  position: absolute;
  float: left;
  z-index: 10000;
}

.playlist-popup-item {
  background-color: #5f5f5f;
/*  margin-top: 1px;
  margin-bottom: 1px;*/
  width: 310px;
  height: 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  padding: 5px;
  z-index: 90000;
  border-bottom: 2px solid gray;
}

.playlist-popup-item:hover {
  background-color: gray;
}

/*=======================INNER GRID=========================*/

.inner-grid {
  width: 99%;
  height: 685px;
  background-color: #474747;
  margin-top: 6px;
  margin-left: 0.5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inner-grid-left {
  width: 35%;
  height: 100%;
  float:left; /* add this */
  background-color: #353535;
  margin-right: 10px;
  margin-left: 10px;
}

.inner-grid-right {
  width: 62%;
  height: 100%;
  float: left;
  background-color: #212121;
  margin-right: 10px;
}

.playlist-button {
  width: 100%;
  text-align: left;
  border-bottom: 2px gray solid;
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 1.3em;
  padding-top: 0.8em;
  padding-bottom: 1.2em;
}

.playlist-button:hover {
  background-color: #545454;
  border-left: 7px #ff358b solid;
  width: 99%;
}

.playlist-button img {
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#new-playlist-button {
  width: 100%;
  height: 50px;
  text-align: left;
  border-bottom: 2px gray solid;
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 1.3em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

#track-title {
  width: 100%;
  height: 55px;
  border-bottom: 2px gray solid;
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 1.3em;
  text-align: left;
}

#track-title img {
  float: left;
}

#track-title > img:nth-of-type(2){
  float: right;
  padding-right: 10px;
}

#track-title > p:first-of-type {
  /*color: blue;*/
  width: 60%;
  float: left;
  padding-left: 15px;
  padding-top: 18px;
  padding-bottom: 12px;
}

#track-title > p:nth-of-type(2) {
  /*color: red;*/
  width: auto;
  float: left;
  padding-top: 18px;
  padding-bottom: 12px;
}

/*=======================ABOUT US========================*/

#about-elements-container {
  position: relative;
  height: auto;
  min-width: 1250px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.about-us-container {
  position: relative;
  display: inline-block;
  height: 400px;
  width: 600px;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
}

.about-us-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.bio-container {
  padding: 40px;
  width: 520px;
  height: 320px;
  background-color: #9B9B9B;
  position: absolute;
  top: 0
  left: 0;
  transition:         opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition:    opacity 0.4s ease-in-out;
  -o-transition:      opacity 0.4s ease-in-out;
  opacity: 0;
  z-index: 5000;
}

.bio-container:hover {
  opacity: 1.0;
}

.bio-container p {
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-us-header {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: 'PT Sans', sans-serif;
  padding: 15px;
  width: auto;
  background-color: rgba(0,0,0,0.7);
  height: auto;
  z-index: 1000;
}

#about-main {
  height: 100%;
  width: 100%;
  background-color: #353535;
  margin-bottom: 50px;
}

#about-us-story {
  max-width: 1200px;
  width: auto;
  position: relative;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: left;
}

#about-us-story h1 {
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#about-us-story p {
  font-family: 'PT Sans', sans-serif;
  line-height: 30px;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

#salt-shaker {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.icons-box {
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.social-icon {
  height: 75px;
  width: 75px;
  opacity: 0.6;
}

.social-icon:hover {
  opacity: 1.0;
}
