

/*
 *= require jquery-ui
 *= require gritter
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

/*test*/

/*test area */
.draggable-title {
  font-family: arial;
  width: 150px;
  border: 2px solid;
  border-radius: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

.sb-slidebar {
  background-color: #1d1d1d;
  background-image:
    linear-gradient(
      to left,
      #1d1d1d,
      #353535 10%
    );
}
/*test*/

body {
  background-color: rgb(53, 53, 53);
}



/*===============TOP NAV=======================*/


#top-nav {
  background-color: rgb(53, 53, 53);
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 5000;
  width: 100%;
  display: block;
  color: #fff;
}


#top-nav-inner {
  position: absolute;
  display: inline;
  margin-top: 5px;
  margin-bottom: 10px;
  height: auto;
  width: 100%;
  z-index: 100000;
  overflow: hidden;
}

#top-nav-inner ul {
  display: inline;
}

#top-nav-inner li {
  list-style-type: none;
  float: left;
}

.sb-toggle-left {
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
  margin-top: 15px;
  margin-left: 20px;
  border: 4px solid white;
  border-radius: 100%;
}

#navicon-line-container {
  position: relative;
  display: block;
  margin-top: 12px;
  margin-left: 10px;
  padding: 0;
}

.navicon-line {
  position: relative;
  display: block;
  padding: 0;
  width: 22px;
  height: 3px;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: #fff;
}

#pandapop-title {
   font-family: 'PT Sans', sans-serif;
   display: block;
   font-size: 40px;
   float: left;
   margin-left: 20px;
   margin-top: 20px;
   z-index: 10000;
}

#home-icon {
  display: block;
  position: absolute;
  height: 50px;
  width: auto;
  top: 10px;
  right: 50%;
}


#search-container{
  display: block;
  position: absolute;
  top: 0px;
  right: 10px;
  width: 500px;
  height: 60px;
  z-index: 20000;
}

#search-content{
  display: block;
  width: 400px;
  margin-top: 15px;
  height: 44px;
  border-radius: 30px;
  float: left;
  margin-left: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  padding-left: 10px;
}

#search-button {
  position: relative;
  float: left;
  margin-left: 10px;
  display: inline-block;
  border: 4px solid white;
  height: 28px;
  width: auto;
  border-radius: 100%;
  margin-top: 16px;
  padding: 6px;
  padding-left: 8px;
}




/*=================GRID MAIN================================*/

#grid-main {
  display: block;
  background-color: rgb(53, 53, 53);
  position: relative;
  margin-top: 0px;
  text-align: center;
  z-index: 100000;
  height: 770px;
}

.pink-ribbon {
  height: 50px;
  text-align: left;
  background-color: rgb(255, 52, 139);
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  display: block;
  overflow: hidden;
}

#flash-messages {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

/*===================PLAYER===================================*/


#player-title h1 {
  margin-left: 20px;
  padding-top: 10px;
  white-space: nowrap;
}

#iframe-container {
  display: block;
  background-color: rgb(53, 53, 53);
  width: -moz-calc(100% - 500px);
  width: -webkit-calc(100% - 500px);
  width: calc(100% - 500px);
  text-align: center;
  height: 720px;
 /* height: -moz-calc(100% - 200px);
  height: -webkit-calc(100% - 200px);
  height: calc(100% - 200px);*/
}

#iframe-container iframe{
  margin-top: 0.5%;
  margin-left: 0.5%;
  width: 98%;
  height: 98%;
}


/*===============SEARCH RESULTS============================*/

#results {
  display: block;
  background-color: rgb(53, 53, 53);
  width: 2000px;
  height: 260px;
  padding: 0px;
  color: #fff;
  position: absolute;
  margin-top: 760px;
}

#scroll-left-button, #scroll-right-button {
  text-decoration: none;
  color: white;
}

#search-results-header {
  display: block;
  width: 100%;
  height: 50px;
  border-bottom: 4px solid rgb(255, 52, 139);
  position: absolute;
}

#search-results-header h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  margin-left: 20px;
  padding-top: 16px;
  padding-bottom: 8px;
  position: absolute;
  float: left;
}

#all-search-results {
  position: absolute;
  width: 4400px;
  margin-top: 54px;
  height: 220px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.search-result-container {
  position: relative;
  width: 320px;
  height: 220px;
  display: inline;
  float: left;
  margin-left: 20px;
  margin-top: 8px;
}

.title-and-thumbnail {
  cursor: pointer;
}

.title {
  font-family: 'PT Sans', sans-serif;
  background-color: rgb(53, 53, 53);
  display: block;
  width: 310px;
  opacity: 0.8;
  text-align: left;
  z-index:100;
  position:absolute;
  left: 0px;
  top: 16px;
  padding: 6px;
  font-size: 24px;
  white-space: normal;
}

.viewCount .likeCount{
  display: block;
  float: left;
}

.thumbnail img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  opacity: 0.2;
}

.result-icons, .thumbnail-play-icon {
  position: absolute;
  background-color: rgb(53, 53, 53);
  right: 0px;
  bottom: 22px;
  z-index:100;
  display: block;
  padding-right: 8px;
  padding-bottom: 8px;
  opacity: 0.8;
}

.play-icon, .plus-icon{
  width: 40px;
  margin-left: 8px;
  padding-top: 6px;
}

.thumbnail-play-icon {
  background-color: transparent;
  right: 80px;
  bottom: 40px;
  opacity: 0.9;
}

.playlists-popup-menu {
  position: absolute;
  bottom: 60px;
  left: -10px;
  height: auto;
  width: auto;
  background-color: blue;
}

.playlist-menu-item {
  padding: 4px;
}

/*=======================PLAYLISTS======================*/

.panda-logo {
  width: 80px;
  height: auto;
}

#pandapop-playlists {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  white-space: nowrap;
  overflow-x: scroll;
}

#playlists-welcome {
  font-size: 2em;
}

article.pandapop-playlist-item {
  width: 150px;
  display: inline-block;
  border: 1px black solid;
  padding: 5px;
  margin: 15px;
  font-size: 1em;
  text-align: center;
}

article.pandapop-playlist-item a {
  text-decoration: none;
}

#user-avatar {
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border:5px solid gray;
}

.sidebar-button {
  width: 100%;
  text-align: center;
  border-bottom: 2px gray solid;
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 1.3em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

#top-button {
  border-top: 2px gray solid;
}

#slidebar-edit-icon {
  height: 15px;
  width: 15px;
  padding-left: 4px;
}

.sidebar-button:hover {
  background-color: #545454;
  border-left: 7px #ff358b solid;
}

#sidebar-button-area {
  margin-top: 30px;
}

h1 {
  font-family: 'PT Sans', sans-serif;
}

h1#username {
  font-size: 1.6em;
  color: #ff358b;
  text-align: center;
  margin-top: 0.5em;
}

#slidebar-edit-icon {
  height: 15px;
  width: 15px;
  display: inline;
}

h2 {
  font-family: 'PT Sans', sans-serif;
}

#panda-mascot {
  width: 60px;
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

/*=======================DEVISE PAGES======================*/

label, .devise-h1, .devise-h2, .devise-h3, .devise-p, .devise-i {
  font-family: 'PT Sans', sans-serif;
  color: white;
  margin-left: 0;
}

.devise-h2 {
  font-size: 2em;
  padding: 15px;
}

#devise-edit-page {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.devise-field {
  margin-top: 20px;
  text-align: left;
}

.devise-input {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  height: 30px;
  width: 100%;
  padding: 4px;
}

#devise-cancel {
  background-color: black;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 12;
  height: 20px;
  border: 0;
  width: 150px;
  margin-top: 5px;
  padding: 4px;
}

.devise-submit {
  background-color: #FF358B;
  width: 200px;
  height: 50px;
  border: 0;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

.devise-actions {
  margin-top: 30px;
}

#user-avatar {
  color: white;  
  font-family: 'PT Sans', sans-serif;
}

.devise-form {
  text-align: left;
}

/*=======================LANDING PAGE=========================*/

#readymade-playlists-container {
  position: relative;
  margin-top: 0.5%;
  margin-left: 0.5%;
  padding: 0.5%;
  width: 98%;
  height: 705px;
  background-color: yellow;
}

.readymade-item-container {
  position: relative;
  display: inline-block;
  width: 49%;
  height: 49%;
  background-color: blue;
}

.readymade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  z-index: 500;
}

.readymade-header {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: 'PT Sans', sans-serif;
  padding: 15px;
  width: auto;
  background-color: rgba(0,0,0,0.5);
  height: auto;
  z-index: 1000;
  top: 35%;
}



