<article class="pink-ribbon">
<h1 class="playlists-header"><%= @user.username %>'s playlists</h1>
</article>

<section class="playlists-main">
  <section class="playlists-main-inner">
    <section class='playlists-left'>
      <article class='playlists-list'>
      <% @user.playlists.each do |playlist| %>
        <ul>
          <li class='playlist-item'><%= link_to playlist.name, playlist_path(playlist) %></li>
        </ul>
      <% end %>
      </article>
    </section>
    <% if current_user == @user %>
      <section class='playlists-right'>
        <article class="playlist-management-links">
          <h2><%= link_to 'Add a song to a playlist', new_track_path %></h2>
          <h2><%= link_to 'New playlist', new_user_playlist_path(@user) %></h2>
        </article>
      </section>
    <% end %>
  </section>
</section>

