These are the songs on your playlist woooo

<h1><%= @playlist.name %></h1>
<a href='#'>Play all </a>
<ol type="1">
  <% @playlist.tracks.each do |track| %>
    <li>
      <p>
        <%= track.title %>
        <%= track.duration %>
        <a href='#'>Play</a>
        <%= link_to 'Delete', playlist_path(:id => @playlist, :title => track.title), method: :delete %>
      </p>
    </li>
  <% end %>
</ol>
