<article id="top-nav">

  <nav id="sign_in_nav">

  </nav>
  <div class="sb-toggle-left" id='nav-bar-slide-out'>
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
  </div>
  <a href='/'><img src="/images/home.png" id="home-icon"/></a>
  <article id="search-container">
    <form id="search" action="/get_songs" method="post">
      <input type="text" name="search-content" id="search-content">
      <input type="submit" value="search" id="search-button">
    </form>

  </article>
</article>
