<article id="top-nav">
  <nav id="top-nav-inner">
    <ul>
      <li>
        <div class="sb-toggle-left" id='nav-bar-slide-out'>
          <div id="navicon-line-container" >
            <div class="navicon-line"></div>
            <div class="navicon-line"></div>
            <div class="navicon-line"></div>
          </div>
        </div>
      </li>
        <h1 id="pandapop-title">pandapop</h1>
      <li>
        <a href='/'><img src="/images/panda-v2-head-smile.png" id="home-icon"/></a>
      </li>
      <li>
        <form id="search-container" ng-submit='executeSearch()'>
          <input ng-model='query' id='search-content'>
          <input type='image' src='/images/search.png' id='search-button' alt='search-button'>
        </form>
      </li>
    </ul>
  </nav>
</article>