<article id="top-nav">
  <nav id="sign_in_nav">
  </nav>
  <div class="sb-toggle-left" id='nav-bar-slide-out'>
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
  </div>
  <a href='/'><img src="/images/home.png" id="home-icon"/></a>
  <article id="search-container">
    <%= form_tag root_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :'search-content' %>
        <%= submit_tag "search", :name => nil, :id => 'search-button' %>
      </p>
    <% end %>
  </article>
</article>
