<section id="results">
  <article id="search-results-header">
    <h1>Search results for {{ query }}</h1>
  </article>
    <article class="search-result-container" ng-repeat='result in results'>

      <p class='duration'>{{ result.items[0].contentDetails.duration | formatDate }}</p>
      <article class='title-and-thumbnail' data-video_id='{{ result.items[0].id }}'>
        <p class='title'>{{ result.items[0].snippet.title }}</p>
        <img ng-src='{{ result.items[0].snippet.thumbnails.medium.url }}' class='thumbnail' />
      </article>
      <article class='result-icons'>
        <a href='#' class='add-to-playlist' data-id='{{ result.items[0].id }}' data-title='{{ result.items[0].snippet.title }}'>
          <img src='/images/plus.png' class='plus-icon'/>
        </a>
        <a href='#' class='add-to-queue' data-id='{{ result.items[0].id }}' data-title='{{ result.items[0].snippet.title }}'>
          <img src='/images/play.png' class='play-icon'/>
        </a>
      </article>
      
    </article>
</section>
